/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#logo {
  height: 95%;
  width: 95%;
}

h4 {
  font-style: italic;
}

.recipe-list {
  padding-top: 2%;
}

#recipe-form form {
  margin-top: -2%;
}

/*.edit-form {
  display: none;
}*/

.icon {
  vertical-align: middle;
}

.category {
  padding-left: 1rem;
  font-variant: small-caps;
}

.recipe-list input {
  margin-top: -2%;
  margin-bottom: 5%;
}

.recipe-list li {
  text-align: left;
  font-family: 'Arvo', serif;
}

.recipe-list button {
  border: none;
  padding: 0;
}

.recipe-list button:focus {
  outline: none;
}
