/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#logo {
  height: 95%;
  width: 95%;
}

h4 {
  font-style: italic;
}

.main-top {
  padding-top: 4%;
}

#recipe-form form {
  margin-top: -2%;
}

#recipe-form input, #recipe-form select {
  vertical-align: bottom;
}

#recipe-form button {
  vertical-align: top;
  background-color: #88ab26;
  color: #FFFFFF;
  border-color: #88ab26;
}

#recipe-form button:hover, #recipe-form button:active {
  background-color: #6e8b1e;
  border-color: #6e8b1e;
}

.icon {
  vertical-align: middle;
}


.category {
  padding-left: 1rem;
  font-variant: small-caps;
}

.main-bottom input {
  margin-top: -2%;
  margin-bottom: 5%;
}

.main-bottom li {
  text-align: left;
  font-family: 'Arvo', serif;
}

.main-bottom button {
  border: none;
  padding: 0;
}

.main-bottom button:hover {
  color: #88ab26;
}

#search-input {
  width: 150px;
}
